/*---------- Header ----------*/

.linksMenu:hover::after,
.linksMenu, .active::after {
    width: 100%;
    color: white;
}
nav a::after {
    content: '';
    width: 0%;
    height: 2px;
    background:#DBAA7D;
  
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  
    transition: width 0.2s;
}
.reservaContact:hover{
    background-color: #a57225;
}

.menu a.icon-header:hover {
    color: #a57225;
    transform: translateY(-6px);
}

/*---------- About ----------*/

.aboutHotel a::after {
    content: '';
    width: 0%;
    height: 2px;
    background:#01cc67;
  
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  
    transition: width 0.2s;
}
.aboutHotel a:hover::after,
.aboutHotel a:hover {
    width: 100%;
    color: #01cc67;
}

/*---------- Acommodation ----------*/
.roomOne:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to top, #a57225, rgba(255, 255, 255, 0) 40%), url(../images/rooms/casalMaster.jpg);
}
.roomTwo:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to top, #a57225, rgba(255, 255, 255, 0) 40%), url(../images/rooms/casal.jpg);
}
.roomThree:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to top, #a57225, rgba(255, 255, 255, 0) 40%), url(../images/rooms/familiar.jpg);
}
.roomFour:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to top, #a57225, rgba(255, 255, 255, 0) 40%), url(../images/rooms/solteiroDuplo.jpg);
}
.roomFive:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to top, #a57225, rgba(255, 255, 255, 0) 40%), url(../images/rooms/solteiro.jpg);
}
.boxRoom:hover{
    transform: translateY(-3%);

}
.titleRooms:hover{
    transform: scale(0.9);
}
/*---------- Inside ----------*/

.structure a::after {
    content: '';
    width: 0%;
    height: 2px;
    background:#01cc67;
  
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  
    transition: width 0.2s;
}
.structure a:hover::after,
.structure a:hover {
    width: 100%;
    color: #01cc67;
}


/*---------- Contact & location ----------*/
button:hover{
    background-color: #dd9933;
    transform: translateY(-5%);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.144);
}

/*---------- Region ----------*/
.shoppingChild:hover,
.shoppingChild:focus {
    transform: scale(1.1);
}
.drugstoreChild:hover,
.drugstoreChild:focus {
    transform: scale(1.1);
}
.parkNauticoChild:hover,
.parkNauticoChild:focus {
    transform: scale(1.1);
}
.pizzaChild:hover,
.pizzaChild:focus {
    transform: scale(1.1);
}
.superMarketChild:hover,
.superMarketChild:focus {
    transform: scale(1.1);
}
.parkChild:hover,
.parkChild:focus {
    transform: scale(1.1);
}
.titleImagesRegion:hover{
    transform: scale(0.9);
}
/*----------  swiper ------------*/


/*---------- Footer ----------*/

.icon-footer:hover{
    border: solid 2px rgb(255, 255, 255);
}
.medias > p > a:hover{
    text-decoration: underline;
}