@media screen and (max-width: 1230px) {
    /*---------- General ----------*/
    .mainGrid{
        max-width: 1200px;
    }

    /*---------- Header ----------*/
    .headerLayout{
        width: 800px;
        padding: 1rem;
    }

    .menuHam {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 400px;
        height: 100vh;
        background: black;
        color: white;
        transform: translateX(100%);
        transition: transform 300ms;
        padding: 15rem 10rem;
    }
    .icon-menu, 
    .icon-x{
        display: block;
        position: fixed;
        color: white;
        font-size: 1.5rem;
        z-index: 1000;
        transform: translateX(-100%);
    }
    .icon-ham-x {
        display: none;
    }
    .showMenu {
        transform: translateX(0%);
    }
    .menu{
        gap: 5rem    
    }

    /*---------- About ----------*/

    .mainImages{
        margin-top: 59px;
    }
    
    .frontOfTheHotel {
        width: 400px;
        height: 400px;
    }

    .aboutHotel{
        max-width: 400px;
        padding: 1.5rem 0;
    }

    /*---------- Inside ----------*/

    .insideTheHotel{
        width: 400px;
        height: 400px;
    }
    .structure{
        width: 400px;
        height: 400px;
    }
    .structure ul div li {
        margin-bottom: 1rem;
        line-height: 1;
    }

    /*---------- Contact & location ----------*/

    .contactForm{
        width: 400px;
    }
    iframe {
        width: 400px;
        height: 400px;
    }
    .locationMap {
        padding: 5.1rem 0; 
    }
    /*---------- Region ----------*/

    .shopping{
        width: 420px;
        height: 500px;
        grid-column: 1 / 3 ;
    }
    .drugstore{
        width: 205px;
        height: 500px;
    }
    .parkNautico{
        width: 205px;
        height: 500px;
    }
    .pizza{
        width: 205px;
        height: 500px;
    }
    .superMarket{
        width: 205px;
        height: 500px;
    }
    .park{
        width: 420px;
        height: 500px;
        grid-column: 3 / 5 ;
    }


}

@media screen and (max-width: 1025px) {
    /*---------- General ----------*/

    .grid{
        grid-template-columns: auto;
        gap: 2rem;
    }
    .mainGrid{
        max-width: 1000px;
    }

    /*---------- Header ----------*/
    .headerLayout{
        width: 600px;
        padding: 1rem;
    }

    .menuHam {
        width: 300px;
        padding: 15rem 7rem;
    }

    /*---------- About ----------*/

    .mainImages{
        height: 450px;
    }
    .frontOfTheHotel {
        width: 600px;
        height: 400px;
    }

    .aboutHotel{
        max-width: 500px;
    }

    /*---------- Acommodation ----------*/

    .accommodationGrid{
        grid-template-columns: auto;
        gap: 1.5rem;
        padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .rooms{
        height: 250px;
    }

    /*---------- Inside ----------*/

    .insideTheHotel{
        width: 600px;
        height: 400px;
    }
    .structure{
        width: 600px;
        height: 350px;
        padding: 0;
    }
    .structure ul div li {
        line-height: 1.5;
    }
    /*---------- Region ----------*/
    .region{
        padding: 2rem 1rem;
    }
    .regionImages {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .shopping{
        width: 610px;
        height: 500px;
        grid-column: 2 / 4 ;
    }
    .drugstore{
        width: 300px;
        height: 500px;
        grid-column: 2 / 3 ;
    }
    .parkNautico{
        width: 300px;
        height: 500px;
        grid-column: 3/ 4 ;
    }
    .pizza{
        width: 610px;
        height: 500px;
        grid-column: 2 / 5 ;
    }
    .superMarket{
        width: 300px;
        height: 500px;
        grid-column: 2 / 3 ;
    }
    .park{
        width: 300px;
        height: 500px;
        grid-column: 3/ 4 ;
    }
    /*---------- Contact & location ----------*/

    .contactForm{
        width: 600px;
    }
    iframe {
        width: 600px;
        height: 500px;
    }

    /*----------  swiper ------------*/

    .swiper-container {
        width: 100%;
        height: 440px;
        margin: 4rem;
        margin-top: 0;
    }
    .swiper-slide { 
        max-width: 700px; 
    }

    .swiper-wrapper{
        height: 400px;
        width: 100%;
    }       

    .slide-1 {
        width: 640px;
        height: 400px;
    }
    .slide-2 {
        width: 640px;
        height: 400px;
    }
    .slide-3 {
        width: 640px;
        height: 400px;
    }
    .slide-4 {
        width: 640px;
        height: 400px;
    }
    .slide-5 {
        width: 640px;
        height: 400px;
    }
    .slide-6 {
        width: 640px;
        height: 400px;
    }
}

@media screen and (max-width: 750px) {
    /*---------- General ----------*/

    .grid{
        grid-template-columns: auto;
        gap: 2rem;
        padding: 2rem 0.625rem;
    }
    .mainGrid{
        max-width: 300px;
    }

    /*---------- Header ----------*/
    .headerLayout{
        width: 300px;
        padding: 1rem;
    }

    .menuHam {
        width: 100%;
        padding: 1rem 6rem;
    }
    .menu{
        gap: 1rem    
    }

    /*---------- About ----------*/

    .mainImages{
        height: 300px;
    }
    .frontOfTheHotel {
        width: 300px;
        height: 200px;
    }

    .aboutHotel{
        max-width: 300px;
    }

    /*---------- Acommodation ----------*/

    .accommodationGrid{
        grid-template-columns: auto;
        gap: 1.5rem;
        padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .rooms{
        height: 200px;
    }

    /*---------- Inside ----------*/

    .insideTheHotel{
        width: 300px;
        height: 300px;
    }
    .structure{
        width: 300px;
        height: 500px;
        padding: 0;
        overflow: hidden;
    }
    .structure ul div li {
        line-height: 1.5;
    }
    /*---------- Region ----------*/
    .region{
        padding: 2rem 1rem;
    }
    .regionImages {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        gap: 5px;
    }
    .shopping{
        width: 305px;
        height: 200px;
        grid-column: 2 / 4 ;
    }
    .drugstore{
        width: 150px;
        height: 200px;
        grid-column: 2 / 3 ;
    }
    .parkNautico{
        width: 150px;
        height: 200px;
        grid-column: 3/ 4 ;
    }
    .pizza{
        width: 305px;
        height: 200px;
        grid-column: 2 / 5 ;
    }
    .superMarket{
        width: 150px;
        height: 200px;
        grid-column: 2 / 3 ;
    }
    .park{
        width: 150px;
        height: 200px;
        grid-column: 3/ 4 ;
    }
    /*---------- Contact & location ----------*/

    .contactForm{
        width: 300px;
    }
    iframe {
        width: 300px;
        height: 300px;
    }
    .locationMap {
        padding: 2rem 0; 
    }

    /*----------  swiper ------------*/

    .swiper-container {
        width: 100%;
        height: 340px;
        margin: 4rem;
        margin-top: 0;
    }
    .swiper-slide { 
        max-width: 700px; 
    }

    .swiper-wrapper{
        height: 300px;
        width: 100%;
    }       

    .slide-1 {
        width: 100%;
        height: 300px;
    }
    .slide-2 {
        width: 100%;
        height: 300px;
    }
    .slide-3 {
        width: 100%;
        height: 300px;
    }
    .slide-4 {
        width: 100%;
        height: 300px;
    }
    .slide-5 {
        width: 100%;
        height: 300px;
    }
    .slide-6 {
        width: 100%;
        height: 300px;
    }
    /*---------- Footer ----------*/

    .location{
        padding: 2rem 2rem;
    }

    .icon-footer{
        padding: 0.7rem;
        font-size: 1.1rem;
        margin-right: 1rem;
        transition: 400ms;
    }
    .medias{
        padding: 4.25rem 3rem;

    }
    .arrow-up {
        bottom: 1rem;
        right: 1rem;
    }

}
